.container
  display grid
  grid-template-rows: 5vh 60vh 5vh
  grid-template-columns: 100vw

.toggle-area
  height 5vh
  width 100vw
  background grey

.top
  grid-row: 1
  border-radius 10px 10px 0 0

.footer-contents
  grid-row 2

.bottom
  grid-row 3
  //border-radius 0 0 10px 10px

section
  grid-column: 1
