.carousel
  display flex
  white-space nowrap
  height 20vh
  overflow auto

  & > div
    padding-right 10px

img
  height 18vh

.img-wrap
  overflow: hidden	/*拡大時にはみ出た部分を隠す*/
  //width: 370px/*画像の幅*/
  height: 18vh	/*画像の高さ*/

.img-wrap img
  display: block
  transition-duration: 0.3s	/*変化に掛かる時間*/

.img-wrap img:hover
  transform: scale(1.1)	/*画像の拡大率*/
  transition-duration: 0.3s	/*変化に掛かる時間*/
  background-color #050811
  opacity: 0.6;
