.popular-movies
  background white
  padding-left 1.25rem

header
  padding-top: 1px;

header > h2
  padding-left: 22px;
  border-left: 0.1rem solid rgba(142, 142, 142, 0.8);
  font-size 30px
  font-weight 800
  color #050811
