div
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/

  height 100vh
  //width 30vw


  h1
    color #0e78c4
    opacity 1
    margin-bottom 1em

  nav
    position center

  .main
    height 100vh
    // todo width固定
    width 15vw
    border-right rgba(128,128,128,0.3) solid 3px

  .sub
    height 100vh
    // todo width固定
    width 15vw
    border-right rgba(128,128,128,1) solid 3px

    li
      &:hover
        background cadetblue
