header
  text-align left
  padding-left 1.25rem

header > h2
  padding-left: 22px;
  border-left: 0.1rem solid rgba(255, 255, 255, 0.4);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size 30px
  font-weight 800

